:root{
    --blue: #406ec2;
    --white: #fcfdff;
}

body{
    background-image: linear-gradient(var(--white) 1.5px, transparent 1.5px), linear-gradient(to right, var(--white) 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: var(--blue);

    color: var(--white);

    width: 90%;
    margin: auto;
}

section{
    background-color: var(--blue);
    border: var(--white) 1px solid;
    margin-top: 2em;

    padding: 1em;
}
