:root{
    --blue: #214588;
    --white: #a6c2fa;
}

body{
    background-color: var(--blue);

    color: var(--white);

    width: 90%;
    margin: auto;
}

section{
    background-color: var(--blue);
    border: var(--white) 1px solid;
    margin-top: 2em;
}

article > *{
    padding: 1em;
}

article:not(:last-child){
    border-bottom: var(--white) 1px solid;
}

.still-check-bg{
    background-image: linear-gradient(var(--white) 1.5px, transparent 1.5px), linear-gradient(to right, var(--white) 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: var(--blue);
}

.moving-check-bg{
    background-image: linear-gradient(var(--white) 1.5px, transparent 1.5px), linear-gradient(to right, var(--white) 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: var(--blue);
    animation: moving-check-bg 10s linear infinite;
}

@keyframes moving-check-bg{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 50px 50px;
    }
}

article :first-child{
    margin: 0px;
    border: 1px solid var(--white);
    border-top: 0px;
    border-left: 0px;
    padding: 0.5em;
    width:fit-content;
}
