@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

:root{
    --primary: #214588;
    --secondary: #a6c2fa;
}

body{
    height: 100vh;

    background-color: var(--primary);

    color: var(--secondary);
    margin: 0px;

    font-family: 'Bai Jamjuree', sans-serif;
}

.banner{
    border: var(--secondary) 1px solid;
    border-width: 1px 0px;
    min-height: 3em;
    margin-top: 1em;
}

.altColors{
    --secondary : #3cacb4; 
    --primary:  #0e0446;
}

body > *{
    width: 90%;
    margin: auto;
}

section{
    background-color: var(--primary);
    border: var(--secondary) 1px solid;
    margin-top: 2em;
}

header > :first-child{
    margin: 0px;
    padding: 0.5em 1em;
}

header{
    background-color: var(--primary);
    border: var(--secondary) 1px solid;
    border-top: 0px;
}

nav{
    border-top: var(--secondary) 1px solid;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0.5em 1em;
    border-right: var(--secondary) 1px solid;
}

nav a:hover{
    color: var(--primary);
    background-color: var(--secondary);
}

nav a:last-child{
    border-width: 0px;
}

a{
    text-decoration: none;
    color: var(--secondary);
}

article > *{
    padding: 1em;
    margin-top: 0px;
}

article:not(:last-child){
    border-bottom: var(--secondary) 1px solid;
}

.still-check-bg{
    background-image: linear-gradient(var(--secondary) 1.5px, transparent 1.5px), linear-gradient(to right, var(--secondary) 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: var(--primary);
}

.moving-check-bg{
    background-image: linear-gradient(var(--secondary) 1.5px, transparent 1.5px), linear-gradient(to right, var(--secondary) 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: var(--primary);
    animation: moving-check-bg 10s linear infinite;
}

@keyframes moving-check-bg{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 50px 50px;
    }
}

article :first-child{
    margin: 0px 0.5em 0.5em 0px;
    border: 1px solid var(--secondary);
    border-top: 0px;
    border-left: 0px;
    padding: 0.5em 0.7em;
    width:fit-content;

    display: inline;
    float: left;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding-bottom: 1em;
}